server:
  port: 9001
  address: localhost
  
  
spring:
  application:
    name: user-service
  profiles:
    active: local
  jpa:
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.H2Dialect
    properties:
      hibernate:
        format_sql: 'true'
  datasource:
    username: sa
    url: jdbc:h2:tcp://localhost/~/test
    
eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://127.0.0.1:8761/eureka


logging:
  level:
    org:
      springframework:
        jdbc: debug
      hibernate:
        type: trace
        SQL: debug

msa:
  domain: http://localhost:8090
  accountAPI: http://localhost:8090
  auth: http://localhost:8090/auth
  member: http://localhost:8090/member
  memberAPI: http://localhost:8090
